.wrapper {
  margin-bottom: 0px;
  height: 70vh;
  overflow-y: hidden;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
  /* transition: ease-out 0.6s; */
}

.background{
  position: absolute;
  top: -20vh;
  height: 120%;
  width: 120%;
  object-fit: cover;
}