.product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
}

.text {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.sizes {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.sizes div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 2rem;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  outline: solid var(--main-accent-color);
}

.sold-out {
  color: lightgray;
  border: 1px solid lightgray !important;
}

.product h1 {
  font-family: var(--header-font);
}

.product img {
  max-height: 650px;
}

.add {
  border: 1px solid black !important;
}

.nogo {
  box-shadow: 5px 5px 0px lightgrey !important;
  border: 1px solid lightgrey !important;
  color: lightgrey !important
}

.subtext {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.subtext input {
  width: 50px;
  height: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
}

.item-info {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: var(--header-font);
  color: rgb(85, 85, 85);
  margin-bottom: 3rem;
}

.imageWrapper {
  width: 350px;
  height: 600px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
}

.album {
  display: flex;
  align-self: start;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

.thumbWrapper {
  width: 50px;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumbnail {
  height: 150%;
}

@media only screen and (max-width: 650px) {
  .product {
    flex-direction: column;
  }

  .text {
    padding: 20px;
  }

  .album {
    padding-left: 20px;
    flex-direction: row;
  }
}